$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.profile-image {
  img {
    max-width: 100%;
  }
  margin-bottom: 1em;
}

.team-member {
  h3 {
    margin-top: 0;
  }
}
