$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding-top: 70px;
}
.navbar-brand > img {
  max-height: 25px;
}
.header {
  background-color: rgba($navbar-default-bg, 0.85);
  border-color: rgba($navbar-default-border, 0.85);
}

.carousel-cover-image {
  height: 400px;
  width: 100%;
  background-size: cover;
  z-index: -1;
}
.profile-image {
  img {
    max-width: 100%;
  }
  margin-bottom: 1em;
}

.team-member {
  h3 {
    margin-top: 0;
  }
}

#porfolio_grid {
  .portfolio-item {
    @extend .col-md-3;
    // &:nth-child(4n+1) {
    //   clear: left;
    // }

    img {
      width: 100%;
    }
    h2 { font-size: $font-size-h4; }
    h3 { font-size: $font-size-h5; }
    h2, h3 {
      text-align: center;
      font-weight: normal;
    }

    .inner {
      background: $gray-lighter;
      padding: $grid-gutter-width/2;
      $quarter-grid-gutter-width: ($grid-gutter-width/4);
      margin-top: $quarter-grid-gutter-width;
      margin-bottom: $quarter-grid-gutter-width;
      margin-left: -$quarter-grid-gutter-width;
      margin-right: -$quarter-grid-gutter-width;
    //   position: relative;

    //   .info {
    //     visibility: hidden;
    //     position:absolute;
    //     height: 100%;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     background: rgba(0,0,0, 0.5);
    //     color: $gray-lighter;
    //     p {
    //       text-align: center;
    //     }
    //   }
    //   &:hover {
    //     .info {
    //       visibility: visible;
    //     }
    //   }
    }
  }
}
