@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

$icon-font-path: '../fonts/';
$component-offset-horizontal: 120px;
$body-bg: #fff;
$font-family-serif: 'Slabo 27px', Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-serif;
$font-size-base: 16px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


$footer-background: $gray-darker;


body > #page {
  background-color: $body-bg;
  padding-bottom: $line-height-computed;
}

body {
  background-color: $footer-background;
  border-top: 50px solid $body-bg;
}
footer {
  background-color: $footer-background;
  color: $gray-lighter;

  &>.container {
    padding-top: 10px;
  }
}
.navbar-brand {
  padding: 5px;
  line-height: 40px;
  &> img {
    max-height: 40px;
  }
}
.navbar {
  background-color: rgba($navbar-default-bg, 0.95);
  border-color: rgba($navbar-default-border, 0.95);
}

.carousel-cover-image {
  height: 400px;
  width: 100%;
  background-size: cover;
  z-index: -1;
}
.profile-image {
  img {
    max-width: 100%;
  }
  margin-bottom: 1em;
}

.team-member {
  h3 {
    margin-top: 0;
  }
}

#porfolio_grid {
  .portfolio-item {
    @extend .col-md-3;
    @extend .col-xs-12;

    img {
      width: 100%;
    }
    h2 { font-size: $font-size-h4; }
    h3 { font-size: $font-size-h5; }
    p, {
      display: none;
    }
    h2, h3 {
      text-align: center;
      font-weight: normal;
    }

    @media (min-width: $screen-md-min) {
      p { display: block; }
      .inner {
        background: $gray-lighter;
        padding: $grid-gutter-width/2;
        $quarter-grid-gutter-width: ($grid-gutter-width/4);
        margin-top: $quarter-grid-gutter-width;
        margin-bottom: $quarter-grid-gutter-width;
        margin-left: -$quarter-grid-gutter-width;
        margin-right: -$quarter-grid-gutter-width;
      }
    }
  }
}
