<div class="portfolio-item">
  <div class="inner">
    <img src="{{ image }}" />
    <div class="info">
      <p>{{description}}</p>
    </div>
  </div>
  <h2>{{title}}</h2>
  <h3>{{type}}</h3>
</div>
